[submodule "swear/lib/forge-std"]
	path = swear/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "swear/lib/openzeppelin-contracts"]
	path = swear/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
